# Django
Django==2.2.21
django-cors-headers
django-rest-swagger==2.2.0
djangorestframework==3.11.0

# Utils
itsdangerous
jsonfield
requests

# DB
mysqlclient
redis

# Celery
celery==4.4.0

# Logging
loguru
